<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Tables"></Label>
</ActionBar>

<GridLayout class="page">
    <GridLayout rows="*,9*" columns="*,auto">
        <SearchBar row="0" col="0" hint="Buscar Mesas"
                    [text]="searchPhrase" 
                    (textChange)="onTextChanged($event)"
                    (submit)="onSubmit($event)" 
                    color="black"
                    textFieldHintColor="gray">
        </SearchBar>
        <button class="fa icon" text="&#xf067;" row="0" col="1" (tap)="add()"></button>

        <ListView *ngIf="mode=='retrive'" row="1" colSpan="2" [items]="companyTables" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-companyTable="item" let-i="index" let-odd="odd" let-even="even">
                <GridLayout rows="auto,auto,auto" columns="*,auto,auto" class="list-group-item">
                    <Label class="list-group-item-heading" row="0" col="0" [text]="companyTable.name"></Label>
                    <Label class="list-group-item-text" row="1" col="0" [text]="companyTable.identifier"></Label>
                    <!-- <Label class="list-group-item-text" row="2" col="0" [text]="companyTable.company"></Label> -->
                    <Button class="fa icon" rowSpan="3" col="1" text="&#xf044;" (tap)="edit(companyTable)"></Button>
                    <Button class="fa icon text-danger" rowSpan="3" col="2" text="&#xf1f8;" (tap)="remove(companyTable)"></Button>
                </GridLayout>
            </ng-template>
        </ListView>
        <ScrollView *ngIf="mode=='create'||mode=='update'" row="1" colSpan="2" class="m-t-30">
            <StackLayout>            
                <RadDataForm #myForm [source]="companyTable" [metadata]="companyTableMetadata"></RadDataForm>
                <button class="btn btn-primary m-x-5" text="Guardar" (tap)="checkErrors()"></button>
                <button class="btn btn-outline m-x-5" text="Cancelar" (tap)="changeMode('retrive')"></button>            
            </StackLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>